# 1. 資料匯入

In [223]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("results.csv",encoding = "big5") 
df.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

# 2.預處理

In [224]:
#missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

            Total  Percent
season          0      0.0
result          0      0.0
away_goals      0      0.0
home_goals      0      0.0
away_team       0      0.0
home_team       0      0.0

In [225]:
col=["home_team" , "away_team"]
for item in col:
    print(item.upper(),":")
    print(df[item].value_counts(),"\n")

HOME_TEAM :
Liverpool                   228
Arsenal                     228
Everton                     228
Manchester City             228
Chelsea                     228
Manchester United           228
Tottenham Hotspur           228
West Ham United             209
Newcastle United            190
Aston Villa                 190
Stoke City                  190
Sunderland                  190
West Bromwich Albion        171
Fulham                      152
Swansea City                133
Wigan Athletic              133
Southampton                 114
Blackburn Rovers            114
Bolton Wanderers            114
Hull City                    95
Crystal Palace               95
Norwich City                 76
Leicester City               76
Watford                      76
Middlesbrough                76
Burnley                      76
Portsmouth                   76
Reading                      57
Birmingham City              57
Queens Park Rangers          57
AFC Bournemouth              57
Wolverhampton Wanderers      57
Charlton Athletic            19
Sheffield United             19
Huddersfield Town            19
Cardiff City                 19
Derby County                 19
Brighton and Hove Albion     19
Blackpool                    19
Name: home_team, dtype: int64

AWAY_TEAM :
Liverpool                   228
Arsenal                     228
Everton                     228
Manchester City             228
Chelsea                     228
Manchester United           228
Tottenham Hotspur           228
West Ham United             209
Newcastle United            190
Aston Villa                 190
Stoke City                  190
Sunderland                  190
West Bromwich Albion        171
Fulham                      152
Swansea City                133
Wigan Athletic              133
Southampton                 114
Blackburn Rovers            114
Bolton Wanderers            114
Hull City                    95
Crystal Palace               95
Norwich City                 76
Leicester City               76
Watford                      76
Middlesbrough                76
Burnley                      76
Portsmouth                   76
Reading                      57
Birmingham City              57
Queens Park Rangers          57
AFC Bournemouth              57
Wolverhampton Wanderers      57
Charlton Athletic            19
Sheffield United             19
Huddersfield Town            19
Cardiff City                 19
Derby County                 19
Brighton and Hove Albion     19
Blackpool                    19
Name: away_team, dtype: int64

# 3.欄位轉換數字

In [226]:
df['home_team'] = df['home_team'].replace({'Liverpool':1,'Arsenal':2,'Everton':3,'Manchester City':4 ,'Chelsea':5, 'Manchester United':6, 'Tottenham Hotspur':7, 'West Ham United':8, 'Newcastle United':9, 'Aston Villa':10, 'Stoke City':11, 'Sunderland':12, 'West Bromwich Albion':13, 'Fulham':14, 'Swansea City':15, 'Wigan Athletic':16, 'Southampton':17, 'Blackburn Rovers':18, 'Bolton Wanderers':19, 'Hull City':20, 'Crystal Palace':21, 'Norwich City':22, 'Leicester City':23, 'Watford':24, 'Middlesbrough':25, 'Burnley':26, 'Portsmouth':27, 'Reading':28, 'Birmingham City':29, 'Queens Park Rangers':30, 'AFC Bournemouth':31, 'Wolverhampton Wanderers':32, 'Charlton Athletic':33, 'Sheffield United':34, 'Huddersfield Town':35, 'Cardiff City':36, 'Derby County':37, 'Brighton and Hove Albion':38, 'Blackpool':39 })    
df.sample(5)

      home_team       away_team  home_goals  away_goals result     season
2172         12       Liverpool         1.0         0.0      H  2011-2012
3124         13  Crystal Palace         2.0         2.0      D  2014-2015
1979         32    Swansea City         2.0         2.0      D  2011-2012
3038          7     Aston Villa         3.0         0.0      H  2013-2014
1554          9       Blackpool         0.0         2.0      A  2010-2011

In [227]:
df['away_team'] = df['away_team'].replace({'Liverpool':1,'Arsenal':2,'Everton':3,'Manchester City':4 ,'Chelsea':5, 'Manchester United':6, 'Tottenham Hotspur':7, 'West Ham United':8, 'Newcastle United':9, 'Aston Villa':10, 'Stoke City':11, 'Sunderland':12, 'West Bromwich Albion':13, 'Fulham':14, 'Swansea City':15, 'Wigan Athletic':16, 'Southampton':17, 'Blackburn Rovers':18, 'Bolton Wanderers':19, 'Hull City':20, 'Crystal Palace':21, 'Norwich City':22, 'Leicester City':23, 'Watford':24, 'Middlesbrough':25, 'Burnley':26, 'Portsmouth':27, 'Reading':28, 'Birmingham City':29, 'Queens Park Rangers':30, 'AFC Bournemouth':31, 'Wolverhampton Wanderers':32, 'Charlton Athletic':33, 'Sheffield United':34, 'Huddersfield Town':35, 'Cardiff City':36, 'Derby County':37, 'Brighton and Hove Albion':38, 'Blackpool':39 })    # 將薪水低, 中, 高轉換成數字1, 2, 3
df.sample(5)

      home_team  away_team  home_goals  away_goals result     season
4287          4          2         3.0         1.0      H  2017-2018
433          16         14         1.0         1.0      D  2007-2008
1759         18          7         0.0         1.0      A  2010-2011
1556          8          5         1.0         3.0      A  2010-2011
1033         16          8         0.0         1.0      A  2008-2009

# 4.單一分類器

In [228]:
X = df[['home_team', 'away_team']]
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = df[['result']]

In [229]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

###  4.1 Decision tree

In [230]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

tree = DecisionTreeClassifier(criterion='gini',max_depth=5)
tree.fit(X_train, y_train)
print(metrics.classification_report(y_test, tree.predict(X_test)))

             precision    recall  f1-score   support

          A       0.50      0.45      0.48       390
          D       0.28      0.05      0.08       349
          H       0.55      0.85      0.67       629

avg / total       0.47      0.53      0.46      1368

### 4.2 AdaBoost

In [231]:
from sklearn.ensemble import AdaBoostClassifier
adb = AdaBoostClassifier(n_estimators=100)
adb.fit(X_train, y_train)
print(metrics.classification_report(y_test, adb.predict(X_test)))

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

             precision    recall  f1-score   support

          A       0.55      0.41      0.47       390
          D       0.30      0.04      0.07       349
          H       0.55      0.90      0.68       629

avg / total       0.49      0.54      0.47      1368

### 4.3 XGBoost

In [232]:
import xgboost as xgb
xgbc = xgb.XGBClassifier()  
xgbc.fit(X_train, y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [233]:
xgbc.score(X_test, y_test)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.5460526315789473